html {
  background-color: black;
  color: white;
  text-align: center;
}
.bean-img {
  width: 300px;
  height: auto;
  margin: 10px;
}

.header {
  background-color: blue;
}

.nav {
  border: 3px dashed white;
}

.footer {
  background-color: mediumseagreen;
}

.login {
  border: 3px dashed white;
}

.home {
  background-color: red;
}

a:visited {
  color: aqua;
}