html {
  background-color: #1b383e;
  scroll-behavior: smooth;
  font-family: 'Libre Baskerville', serif;
}

.bean-img {
  width: 300px;
  height: auto;
  margin: 10px;
}

.logo {
  width: 100%;
  padding-bottom: 10px;
}
.app_header {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header {
  background-color: #1b383e;
  color: #d1d0d0;
  text-align: center;
}

.page_header {
  background-color: #1b383e;
  color: #d1d0d0;
  text-align: center;
}

.nav {
background-color: #1b383e;
color: #d1d0d0;
padding-top: 10px;
text-align: left;
}

.nav a:visited {
  color: #a06c38;
}

.nav_card {
  width: 80px;
  border-radius: 15px;
  border: 2px solid #a06c38;
  margin-top: 10px;
}

@media (width > 820px) {
  .nav_card {
    width: 170px;
    border-radius: 15px;
    border: 2px solid #a06c38;
    margin-top: 10px;
  }
}

.nav_card:hover {
  /* width: 140px; */
  border-radius: 15px;
  border: 2px solid #d1d0d0;
  margin-top: 10px;
  filter: brightness(115%)
}

.home_link {
  color: #d1d0d0;
  font-size: 12px;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px;
}

.footer {
  background-color: #1b383e;
  color: #d1d0d0;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 80px;
}
.bio_container {
  border: 2px solid #a06c38;
  border-radius: 15px;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 10px 10px 10px;
  background-color: #d1d0d0;
  color: #012351;
}

.page_bio {
  text-align: justify;
  padding: 6px
}
.page_header {
  background-color: #d1d0d0;
  color: #1b383e;
  text-align: left;
  width: 50%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

a:visited {
  color:  #d1d0d0;
}

.link_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a06c38;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li a, .dropdown_link {
  display: inline-block;
  color: #d1d0d0;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

li:hover, .dropdown:hover .dropdown_link {
  background-color: #6d7f60;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d1d0d0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #1b383e;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 12px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #6d7f60;
  color: #d1d0d0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.collection_bar {
  color: #d1d0d0;
  background-color: #1b383e;
  margin: 0;
  padding: 5px;
  margin-bottom: -23px;
}

.product_pic {
  width: 175px;
}

.brewer_profile {
  background-color: #1b383e;
  color: #d1d0d0;
  text-align: center;
}

.bean_name {
  color: #1b383e;
  margin-top: 40px;
}

.bean_description {
  color: #1b383e;
  font-size: 12px;
}

.bean_detail {
  color: #1b383e;
  font-size: 14px;
}

.buy_link {
  color: #1b383e;
  font-size: 12px;
  width: 200px;
}

.bean_form {
  background-color: #d1d0d0;
  color:#012351;
  margin-bottom: 100px;
  padding-bottom: 20px;
  padding-left: 10px;
  width: 30%;
  margin: 0 auto;
}

form {
  text-align: left;
}


.mylogo {
  width: 200px;
}

.copyright {
  font-size: 10px;
  margin-top: -15px;

}

.back {
  height: 25px;
  width: 25px;
  font-size: 12px;
  align-content: center; 
  float: left;
}

.notation {
  font-size: 12px;
  margin-top: 1px;
  font-style: italic;
}

.placeholder_img {
  width: 280px;
  border-radius: 15px;
  border: 3px solid #a06c38;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}
.brewer_profile {
  display: block;
  text-align: center;
}

.bean_card {
  border: 2px solid #a06c38;
  border-radius: 15px;
  width: 35%;
  margin: 0 auto;
  padding: 15px;
  background-color: #d1d0d0;
  color: #1b383e;
}

.bean_container {
  border: 2px solid #a06c38;
  border-radius: 15px;
  width: 35%;
  margin: 0 auto;
  padding: 15px;
  margin-top: 45px;
  background-color: #d1d0d0;
  color: #1b383e;
}

.toTop {
  float: left;
  margin-top: -40px;
  height: 20px;
  font-size: 14px;
  background-color: #d1d0d0;
  border: none;
}

.back {
  float: left;
  height: 20px;
  font-size: 14px;
  background-color: #d1d0d0;
  border: none;
}

.bean_container ul {
  background-color: transparent;
  text-align: center;
}

.profile_image {
  border-radius: 15px;
  width: 60%;
  margin-top: 5px;
}

.bean_descript {
  background-color: #1b383e;
  color: #d1d0d0;
  padding: 20px 10px 20px 10px;
  width: 60%;
  margin: 0 auto;
  border: 2px solid #a06c38;
  border-radius: 15px;
}

.bean_container a:visited {
  color: #1b383e;
}

.collection_header {
  margin-top: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a06c38;
  font-family: 'Lato', sans-serif;

}